[
  {
    "attributeURI": "urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:accountDisabled",
    "attributeName": "accountDisabled",
    "dataType": "boolean",
    "multiValued": "false",
    "description": "Account Disabled",
    "required": "false",
    "caseExact": "false",
    "mutability": "readwrite",
    "returned": "default",
    "uniqueness": "none",
    "subAttributes": "null",
    "canonicalValues": [],
    "referenceTypes": []
  },
  {
    "attributeURI": "urn:ietf:params:scim:schemas:extension:enterprise:2.0:User",
    "attributeName": "urn:ietf:params:scim:schemas:extension:enterprise:2.0:User",
    "dataType": "complex",
    "multiValued": "false",
    "description": "Enterprise User",
    "required": "false",
    "caseExact": "false",
    "mutability": "readWrite",
    "returned": "default",
    "uniqueness": "none",
    "subAttributes": "accountDisabled",
    "canonicalValues": [],
    "referenceTypes": [
      "external"
    ]
  }
]
